<h1>Welcome to this Splurty!</h1>

<p><span>Quote of the Day (No. ):</span></p>

<p><div class="saying"></div> </p>
<p><div class="author"> - <%= @quote.inspect %></div> </p>

<br class="clear" />
<br />
<br />
<br />
