<h1>Welcome to this Splurty!</h1>

<p><span>Quote of the Day (No. <%= @quote.id %>):</span></p>

<p><div class="saying"><%= @quote.saying %> </div> </p>
<p><div class="author"> - <%= @quote.author %> </div> </p>

<br class="clear" />
<br />
<br />
<br />